MONGODB_USERNAME= {{ YOUR USER ID }}
MONGODB_PASSWORD= {{ YOUR PASSWORD }}
MONGODB_DATABASE= {{ YOUR DATABASE }}
MONGODB_HOST= {{ YOUR HOST }}
MONGODB_DEFAULT_SCHEMA={{ YOUR SCHEMA }}
POSTMARK_API_KEY= {{ YOUR KEY }}
POSTMARK_DEFAULT_FROM_EMAIL= {{ YOUR EMAIL ADDRESS }}
POSTMARK_DEFAULT_TO_EMAIL={{ YOUR EMAIL ADDRESS }}
AWS_ROLE_ARN= {{ YOUR ARN }}
AWS_REGION= {{ YOUR REGION }}
QUARKUS_HTTP_CORS_ORIGINS={{ YOUR COMMA SEPERATED LIST OF HOSTS }}